/bin/
/crypto-config-cryptogen/*
/crypto-config/*
# channel-artifacts/*.tx
# channel-artifacts/*.block
/chaincode/node_modules/*
/*.tar.*
/chaincode/package-lock.json
/api/node_modules/*
api/package-lock.json
/chaincode/package-lock.json
/chaincode/mfc-prdc/package-lock.json
/chaincode/mfd-whs/package-lock.json
/chaincode/whs-rtlr/package-lock.json
/chaincode/mfc-prdc/node_modules/*
/chaincode/mfd-whs/node_modules/*
/chaincode/whs-rtlr/node_modules/*
/chaincode/coffeeCC/node_modules/*
/chaincode/coffeeCC/*
/fabric-ca-client/fabric-ca/*
.env
docker/docker-compose-persist.yaml
persistence-data/
# /api/tata-wallet/*.id
# /api/teafarm-wallet/*.id
# /fabric-ca-config/*
# /bin/
/channel-artifacts/
